### 1.  What is the data type of print(type(10))
* float
* integer
* int

In [38]:
# Int

### 2. What is the result of print(type([]) is list)
* False
* True

In [39]:
# True

### 3. str1 = "PYTHON150"
print(str1[1:4], str1[:5])
* PYTH,  PYTHON
* PYTH, PYTHO
* YTH, PYTHO
* Note: Commas only used for display

In [8]:
# YTH, PYTHO

### 4. str1 = "PYTHON150"
print(str1[4:], str1[0:-1])
* N150, PYTHON150
* ON150, PYTHON15
* ON150, PYTHON150
* Note: Commas only used for display

In [12]:
# ON150, PYTHON15

### 5. str1 = "PYTHON150"
print(str1[:-1])
* PYTHON150
* PYTHON15
* PYTHON1
* Note: Commas only used for display

In [13]:
# PYTHON15

### 6.  print("John" > "Jhon")
### print("Emma" < "Emm")
* True True
* True False
* False TRue
* False False

In [16]:
# True False

### 7. Strings are immutable in Python, which means a string cannot be modified.
* True
* False

In [17]:
# True

### 8. str1 = 'Welcome'
print (str1[:6] + 'Class')
* WelcomClass
* WelcomeClass
* Welcom Class
* Welcome Class

In [19]:
# WelcomClass

WelcomClass

### 9. str = "how are you all doing"
print (str.capitalize())
* How are you all doing
* How Are You All Doing

In [21]:
# How are you all doing

### 10. str = "how are you all doing"
print (str.title())
* How are you all doing
* How Are You All Doing

In [23]:
# How Are You All Doing

### 11. str1 = 'Welcome'
print(str1*2)
* Welcome Welcome
* WelcomeWelcome
* TypeError unsupported operand type(s)

In [41]:
# WelcomeWelcome

### 12. Random integer between 99 to 200, which is divisible by 3, print the value of a,b,c
* random.randrange(a, b, c)

In [42]:
import random 
random.randrange(99,200,3)

174

### 13. What is the output of print(2 ** 3 ** 2)
* 64
* 512

In [43]:
512 #check from right to left, 3 squared then 2 to the ninth

512

### 14. print(2%6)
* ValueError
* 0.33
* 2

In [29]:
2

2

### 15. What is the output of print(10 - 4 * 2)
* 2
* 12

2

In [31]:
2

2

### 16. for i in "STR":
     print(i)
* STR
* S
- T
- R

In [34]:
# S
# T
# R

### 17. a="Learn"
### while(a):
    print(a)
* Infinite Loop
* L
* e
* a
* r
* n

In [36]:
# infinite loop